cloud_id                 = "example"
folder_id                = "example"
zone                     = "ru-central1-a"
image_id                 = "example"
public_key_path          = "~/.ssh/id_rsa.pub"
subnet_id                = "example"
service_account_key_file = "key.json"
ssh_private_key_path     = "~/.ssh/id_rsa"
app_disk_image           = "example"
db_disk_image            = "example"
